</head>

<body class="">

  <header id="navbar">

    <div class="branch-journeys-top"></div>

    <div id="mobileMenuBG"></div>
    <div class="mobileMenuOuter">
      <div id="search" onclick="searchMenuFn()">
        <!--<img src="baseline-search-24px.svg" alt="search" id="searchIcon">-->
        <i class="material-icons" id="searchIcon">search</i>
        <!--<img src="baseline-close-24px.svg" alt="close" class="displayNone" id="closeSearchIcon">-->
        <i class="material-icons displayNone" id="closeSearchIcon">close</i>

      </div>
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a id="navBrand" href="/"><img class="" src="/images/Little Maven Logo-White.svg" /></a>

      <div class="mobileMenuInner">
        <ul>
          <li>
            <a href="/places">Find</a>
          </li>
          <li>
            <a href="/a-places/a-map">Add</a>
          </li>
          <% if(!currentUser){ %>
            <li>
              <a class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>" href="/register">Sign Up</a>
            </li>
            <li>
              <a class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> " href="/login">Login</a>
            </li>
            <% }else{ %>
              <li>
                <a class="" href="/users/<%= currentUser._id %>"><span id="username"> <%= currentUser.firstname %></span></a>
                <!--<a class="" href="/users/<%= //currentUser._id %>"><figure class="avatar avatar" data-initial="A"></figure> <span id="username"> <%= //currentUser.username %></span></a>-->
              </li>
              <li>
                <a class="" href="/logout">Logout</a>
              </li>
              <% } %>
        </ul>

      </div>
    </div>

    <!-- navbar search menu -->

    <div id="searchMenuBG"></div>
    <div class="" id="searchMenu">
      <div class="mobileMenuOuter">
      <a id="navBrand" href="/"><img class="" src="/images/Little Maven Logo-Teal.svg"></a>
      </div>
      <div class="container">
      <form id="navSearchForm" class="" action="/places" autocomplete="off" method="GET">
                        <div class="search" id="navSearchDiv">
                                    <input class="" id="navLatitide" type="hidden" name="lat" placeholder="latitide" value="" >
                                    <input class="" id="navLongitude" type="hidden" name="lng" placeholder="longitude" value="">

                                 <div class="right-side searchItem" id="navFindDiv">
                                    <input class="field location" type="text" name="search" autocomplete="off" placeholder="name, category, cuisine..." value="">
                                    <div class="field-wrapper">
                                      <span class="field-title near">Find</span>
                                    </div>
                                  </div>   
                                <div class="right-side near_field searchItem" id="navLocationDiv">
                                    <input class="field location" type="text" name="geocoder" id="navGeocoder" autocomplete="off" placeholder="address, neighbouthood, city, postcode" aria-label="navGeocoder" value="">
                                    <div class="field-wrapper">
                                      <span class="field-title near">Near</span>
                                    </div>
                                    <ul class="right-side__sublist">
                                      <li class="right-side__subitem"><a class="right-side__sublink current" id="navNearMeBtn" onclick="navGetLocation()">Near Me</a></li>
                                    </ul>
                                  </div>
                                    <div class="distKm searchItem" id="navDistKmDiv">
                                    <input class="field location" id="navDistKm" type="number" name="distKm" autocomplete="off" placeholder="km" value="">
                                    <div class="field-wrapper">
                                      <span class="field-title near">Km</span>
                                    </div>
                                  </div>   
                                    
                                <div class="searchItem" id="navSearchBtnDiv">
                                    <input class="search-button btn" type="button" onclick="navSubmitFn()" value="Search">
                                </div>
                            
                        </div>
                    </form>
                            <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>

                    <div id="navCoords"></div>
                    </div>
    </div>


  </header>


  <script src="/js/navbar.js"></script>

  <!-- flash messages -->
  <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
      <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>
