<% include ../partials/header-top %>

    <title>Add to Little Maven</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

<% include ../partials/header-bottom %>

<div class="container">


    <h5 class="mt-4 text-center" style="width:100%">Add a New Place</h5>
    <p class="subtitle2 text-center">Step 2 of 4</p>

<div id= "query_card" class="col-lg-4 col-md-4 col-sm-6 mx-auto">
            <div class="card mb-4 box-shadow">
                <div class="content card-body">
                    <!--<h6 class="" style="colour:var(--maven-primary);">Find a match for:</h6>-->
                    <h6 id="query_card_name" class="subtitle1">
                    </h6>
                    <p id="query_card_formattedAddress" class="captionText capitalize card_address"></p>
                </div>
            </div>
        </div>
        </div>
<div class="middleBG">
        <div class="container">
        



      <div id="results" class="row">
    <h6 class="my-2 text-center" style="width:100%">Select the Matching Google Place:</h6>
<% if(place.results.length > 0) { %>
            <p class="subtitle2 text-center" style="width:100%"><b><%= place.results.length %></b> place/s found</p>
        <% } %>
          <% if (typeof place.results!='undefined' && place.results.length == 0) { %>
        <p>No search results found</p>
    <% } else if (typeof place.results!='undefined'){ %>
        
        <% var i; %>
        <%for (i = 0; i < place.results.length; i++) { %>



        <!--<div class="col-md-4 col-sm-6">-->
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="content card mb-4 box-shadow">
                <span class="placeNumber" style="background-color:#757575; right: 0;"><%=(i+1).toString()%></span>
                <div class="content card-body">
                     

                    <h6 class="subtitle1">
                        <%= place.results[i].name %>
                    </h6>

                    <p class="captionText card_address">
                        <% if (place.results[i].formatted_address) { %>
                            <%= place.results[i].formatted_address %><br />
                        <% } else { %>
                        <% if (place.results[i].vicinity){ %>
                            <%= place.results[i].vicinity %><br />
                        <% } else {%>
                            Address not found
                        <% } }%>
                    </p>
                    <i class="captionText capitalize card_address">
                    <% if (place.results[i].types){ %>
                            <%= place.results[i].types[0] %><br />
                        <% } %>
                    </i>
                    <p class="overlineText" id="googleDist">
                    <% if (place.results[i].distance) { %>
                            <%= place.results[i].distance.toFixed(3) %>km from search coords<br />
                    <% } %>
                    </p>
                        <div class="buttons">
                        <a class="more-info external-link" href="https://www.google.com/maps/search/?api=1&query=<%= place.results[i].name %>&query_place_id=<%= place.results[i].place_id %>" target="_blank">Google Map Link</a>

                    <a class="mdc-fab" style="" onclick="storePlace('<%= place.results[i].place_id %>')" href="/a-places/fb-search<%= searchQuery %>"><span class="material-icons mdc-fab__icon" style="color: white">add</span></a>
                </div>
                </div>
                
            </div>
        </div>
        <%// }); %>
        <% } %>
        <% } %>
        <br />
        <!--<a href="<%= //place.paging.next %>"> next </a>-->

    </div>
    <!--<hr>-->
    </div>
    </div>
    <div class="">
    <div class="container">
<h6 id="" class="my-2 text-center">
                        No match found?
                    </h6>
    <div class="row">

 <div id= "" class="col-lg-4 col-md-4 col-sm-6">
            </div>

               
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="card mb-4 box-shadow">
                    <div class="content card-body">
                        <h6 class="">Redefine Search</h6>
                        <form>
                            <table id="refineSearchTable">
                                <tr>
                                    <td class="label"><label class="label captionText" for="name">Name</label></td>
                                    <td class="input"><input class="form-control" type="text" id="name" name="name" placeholder="" value="<%= name %>"></td>
                                </tr>
                                <tr>
                                    <td class="label"><label class="label captionText" for="address">Address</label></td>
                                    <td class="input"><input class="form-control" type="text" id="address" name="address" placeholder="" value="<%= address %>"></td>
                                </tr>
                                <tr>
                                    <td class="label"><label class="label captionText" for="latitude">Latitude</label></td>
                                    <td class="input"><input class="form-control" type="text" id="latitude" name="latitude" placeholder="" value="<%= latitude %>"></td>
                                </tr>
                                <tr>
                                    <td class="label"><label class="label captionText" for="longitude">Longitude</label></td>
                                    <td class="input"><input class="form-control" type="text" id="longitude" name="longitude" placeholder="" value="<%= longitude %>"></td>
                                </tr>
                                <tr>
                                    <td class="label"><label class="label captionText" for="radius">Radius (m)</label></td>
                                    <td class="input"><input class="form-control" type="text" id="radius" name="radius" placeholder="" value="<%= radius %>"></td>
                                </tr>
                            </table>
                            
                            <div class="button">
                                <button class="btn save-button lm-button">Search</button>
                            </div>
                            
                            </form>
                    </div>
                </div>
            </div>
            
             <div id= "no_match" class="col-lg-4 col-md-4 col-sm-6">
                <div class="content card-body">
                    
                    <a href="/a-places/fb-search<%= searchQuery %>" class="btn btn-secondary" onclick="clearGoogleSession()">Skip Step</a>
                </div>
            </div>
            
        </div>

</div>
</div>


<script>

var placeData = JSON.parse(sessionStorage.getItem('placeData'));
$(document).ready(function() {
              $('#query_card_name').text(placeData.name);
              $('#query_card_formattedAddress').text(placeData.formattedAddress);
            });
            
    function storePlace(id) {
        var googlePlaceID = id;
        //fetch object

        sessionStorage.setItem('googlePlaceID', googlePlaceID);

        console.log(sessionStorage.getItem(googlePlaceID));
    };
    function clearGoogleSession() {
        //fetch object
                sessionStorage.removeItem('googlePlaceID');
    };
    
    
</script>

<% include ../partials/footer %>
