<% include ../partials/header %>


    <div class="jumbotron text-center">
        <div class="container">
            <div class="container">
                <h1 class="jumbotron-heading">List of Places</h1>
                <p class="lead text-muted">View our hand-picked venues from all over Greater Glasgow</p>
                <!--<p>        -->
                <!--    <a class="btn btn-secondary my-2 btn-sm" role="button" href="/places/new">Add New Place</a>-->
                <!--</p>-->
                <p>
                    <form class="form-inline mx-auto" action="/places" method="GET">
                        <div class="form-group mx-auto">
                            <input class="form-control" type="text" name="search" placeholder="name, category, cuisine...">
                            <input class="form-control" type="text" name="dist" placeholder="distance in km">
                            <input class="form-control" type="text" name="lat" placeholder="latitide">
                            <input class="form-control" type="text" name="lng" placeholder="longitude">
                            <input class="btn btn-secondary my-2" type="submit" value="Search">
                        </div>
                    </form>
                </p>
            </div><!--container-->
        </div><!--container-->
    </div>
    
                <div class="container">

    
    <div class="row text-center" style="display:flex; flex-wrap: wrap; margin-bottom:5px;">
        <% var first = ((current - 1)* limit)+1 %>
        <% var last = count > ((((current - 1)* limit)+1)+(limit - 1)) ? ((((current - 1)* limit)+1)+(limit - 1)) : count %>
        <p class="pageCount"><b><%= first %></b> - <b><%= last %></b> of <%= count %> places</p>

<div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
            <p>
                <form class="form-inline" action="/places" method="GET">
                    <div class="form-group">
                        <input class="form-control" type="text" name="search" placeholder="Places search...">
                        <input class="btn btn-default" type="submit" value="Search">
                    </div>
                </form>
            </p>
            <% } %>
            
        </div>
</div>
        <div class="row">
          <% var i = 0; %>
    <% places.forEach(function(place){ %>
        
                      

        <div class="col-lg-3 col-md-4 col-sm-6">
        <!--<div class="item">-->
              <div class="content card mb-4 box-shadow">
                <a href="/places/<%= place._id %>">
                    <% if (place.images.card_img) { %>
                        <div class="image">
                            <img class="card-img-top" src= "<%= place.images.card_img %>"></a>
                        </div>
                    <% } else { %>
                    <div class="image">
                            <img class="card-img-top placeholder" src= "https://www.ppihotline.co.uk/wp-content/uploads/2017/02/placeholder-image.jpg"></a>
                        </div>
                    <% } %>
                <div class="content card-body">
                  <h5 class="card-title mb-3"><%=place.name%></h5>
                  <p class="card-text"><%=place.single_line_address%></p>
                  <% if (typeof place.distance!='undefined' && place.distance) { %>
                      <p class="card-text text-right"><%= place.distance.toFixed(2) %>km away</p><% } %>
                  <div class="d-flex justify-content-between align-items-center">
                    <!--<button class="foo-button mdc-button mdc-button--dense mdc-button--raised mdc-ripple-upgraded" style="--mdc-ripple-fg-size:46.8469px; --mdc-ripple-fg-scale:2.01468; --mdc-ripple-fg-translate-start:20.3734px, -14.6109px; --mdc-ripple-fg-translate-end:15.6156px, -7.42344px;">Button</button>-->
                    <% if(currentUser && place.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary" href="/places/<%= place._id %>/edit">Edit</a>
                    </div>
                    <% } %>
                    <!--Show when the comment was made-->
                    <small class="createdAt text-muted"><%= moment(place.createdAt).fromNow() %></small>
                  </div>
                </div>
              </div>
            </div>
        
        
        <!--<div class="col-md-4 col-sm-6">-->
        <!--<div class="card mb-4 box-shadow">-->
        <!--    <img class="card-img-top" src="<%= place.image %>">-->
        <!--    <div class="card-body">-->
        <!--        <h5 class="card-title mb-3"><%=place.name%></h5>-->
        <!--        <p class="card-text">-->
                    
        <!--            <a href="/places/<%= place._id %>" class="btn btn-primary btn-sm" >More Info</a>-->
        <!--        </p>-->
        <!--    </div>-->
        <!--</div>-->
        <!--</div>-->
        
    <% }); %>
    </div>
<!--</div>-->
</div><!--container-->


<div class="container">
<div class="d-flex justify-content-center">
    <% if (pages && pages > 0) { %>
    <ul class="pagination">
        <% if (current == 1) { %>
        <a><li class="disabled page-link">First</li></a>
        <% } else { %>
        <a href="/places<%if(search){%>?search=<%=search%><%}%>"><li class="page-link">First</li></a>
        <% } %>
 
        <% if (current == 1) { %>
        <a><li class="disabled page-link">«</li></a>
        <% } else { %>
        <a href="/places?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>"><li class="page-link">«</li></a>
        <% } %>
 
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <a><li class="disabled page-link">...</li></a>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <a><li class="active page-link"><%= i %></li></a>
        <% } else { %>
        <a href="/places?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><li class="page-link"><%= i %></li></a>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <a><li class="disabled page-link">...</li></a>
        <% } %>
        <% } %>
 
        <% if (current == pages) { %>
        <a><li class="disabled page-link">»</li></a>
        <% } else { %>
        <a href="/places?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>"><li class="page-link">»</li></a>
        <% } %>
 
        <% if (current == pages) { %>
        <a><li class="disabled page-link">Last</li></a>
        <% } else { %>
        <a href="/places?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>"><li class="page-link">Last</li></a>
        <% } %>
    </ul>
    <% } %>
</div>
</div>




<script>
// mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));


        var btns = document.querySelectorAll('.mdc-button');
        for (var i = 0, btn; btn = btns[i]; i++) {
          mdc.ripple.MDCRipple.attachTo(btn);
        }

// see http://material-components-web.appspot.com/ready.js for the below code to work
// http://material-components-web.appspot.com/button.html
      // demoReady(function() {
      //   var btns = document.querySelectorAll('.mdc-button');
      //   for (var i = 0, btn; btn = btns[i]; i++) {
      //     mdc.ripple.MDCRipple.attachTo(btn);
      //   }
      // });
  
  function resizeGridItem(item){
  grid = document.getElementsByClassName("grid")[0];
  rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
  rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
  rowSpan = Math.ceil((item.querySelector('.content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
    item.style.gridRowEnd = "span "+rowSpan;
}

function resizeAllGridItems(){
  allItems = document.getElementsByClassName("item");
  for(x=0;x<allItems.length;x++){
    resizeGridItem(allItems[x]);
  }
}

function resizeInstance(instance){
	item = instance.elements[0];
  resizeGridItem(item);
}

window.onload = resizeAllGridItems();
window.addEventListener("resize", resizeAllGridItems);

allItems = document.getElementsByClassName("item");
for(x=0;x<allItems.length;x++){
  imagesLoaded( allItems[x], resizeInstance);
}
  
</script>

<% include ../partials/footer %>



