<% include ../partials/header-top %>
    <title>FInd the Perfect Places - Little Maven</title>

<% include ../partials/header-bottom %>

    <div class="banner">
        <div class="container">
            <!--<div class="container">-->
                <!--<h5 class="jumbotron-heading">Search little Maven</h5>-->
                    <form id="searchForm" class="" action="/places" autocomplete="off" method="GET">
                        <div class="search" id="searchDiv">

                                    
                                    
                                    <input class="" id="latitide" type="hidden" name="lat" placeholder="latitide" value="<%=// lat %>" >
                                    <input class="" id="longitude" type="hidden" name="lng" placeholder="longitude" value="<%=// lng %>">
                                    
                                 <div class="right-side searchItem" id="findDiv">
                                    <input class="field location" type="text" name="search" autocomplete="off" placeholder="name, category, cuisine..." value="<%= search %>">
                                    <div class="field-wrapper">
                                      <span class="field-title near">Find</span>
                                    </div>
                                  </div>   
                                <div class="right-side near_field searchItem" id="locationDiv">
                                    <input class="field location" type="text" name="geocoder" id="geocoder" autocomplete="off" placeholder="address, neighbouthood, city, postcode" aria-label="geocoder" value="<%=geocoder%>">
                                    <div class="field-wrapper">
                                      <span class="field-title near">Near</span>
                                    </div>
                                    <ul class="right-side__sublist" id="locationDropdown">
                                      <li class="right-side__subitem"><a class="right-side__sublink current" id="nearMeBtn" onclick="getLocation()">Near Me</a></li>
                                    </ul>
                                  </div>
                                  <div class="distKm searchItem" id="distKmDiv">
                                    <input class="field location" id="distKm" type="number" name="distKm" autocomplete="off" placeholder="km" value="<%= distKm %>">
                                    <div class="field-wrapper">
                                      <span class="field-title near">Km</span>
                                    </div>
                                  </div>   
                                    
                                <div class="searchItem" id="searchBtnDiv">
                                    <input class="search-button btn" type="button" onclick="submitFn()" value="Search">
                                </div>
                        </div>
                    </form>
                    
                    
                    
                    
                    <div id="coords"></div>
                
                <!--<div class="form-inline">-->
                <!--    <input class="form-control mr-sm-2" type="search" name="geocoder" id="geocoder" placeholder="What are you looking for?" aria-label="geocoder">-->
                <!--    <button class="btn btn-outline-success my-2 my-sm-0" id="geocoderBtn" type="submit">Geocode</button>-->
                <!--</div>-->
                
            <!--</div><!--container-->
        </div><!--container-->
    </div>
    
    <div class="container" id="mapContainer">
        <div id="map">
        </div>
        <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>

    </div>
    
                <div class="container">

    
    <div class="row text-center" style="display:flex; flex-wrap: wrap; margin-bottom:5px;">
        <% if(noMatch == null) { %>
            <% var first = ((current - 1)* limit)+1 %>
            <% var last = count > ((((current - 1)* limit)+1)+(limit - 1)) ? ((((current - 1)* limit)+1)+(limit - 1)) : count %>
            <p class="pageCount"><b><%= first %></b> - <b><%= last %></b> of <%= count %> places</p>
        <% } %>
<div class="col-md-12">
            <% if(noMatch !== null) { %>
            <h3><%= noMatch %></h3>
            <% } %>
            
        </div>
</div>
        <div class="row">
          <% var i = 0; %>
    <% places.forEach(function(place){ %>
        
                      
        
        <div class="col-lg-3 col-md-4 col-sm-6" id="cards">
            <a href="/places/<%= place._id %>">
            <!--col-6-->
        <!--<div class="item">-->
              <div class="content card mb-4 box-shadow">
                  <span class="placeNumber"><%= (first+i).toString() %></span>
                <!--<a href="/places/<%= place._id %>">-->
                    <% if (place.images.card_img) { %>
                        <div class="image">
                            <img class="card-img-top" src= "<%= place.images.card_img %>">
                            <!--</a>-->
                        </div>
                    <% } else { %>
                    <div class="image">
                            <img class="card-img-top" src= "https://www.ppihotline.co.uk/wp-content/uploads/2017/02/placeholder-image.jpg"></a>
                        </div>
                    <% } %>
                    
                <div class="content card-body">
                    <% if (typeof place.distance!='undefined' && place.distance) { %>
                      <span class="distanceTo overlineText"><%= place.distance.toFixed(2) %>km away</span><% } %>
                  <h6 class="subtitle1"><%=place.name%></h6>
                  <p class="captionText card_address"><%=place.single_line_address%></p>
                  
                  <div class="d-flex justify-content-between align-items-center">

                  </div>
                </div>
              </div>
            </div>
            </a>
        <% i++ %>
        
        <!--<div class="col-md-4 col-sm-6">-->
        <!--<div class="card mb-4 box-shadow">-->
        <!--    <img class="card-img-top" src="<%= place.image %>">-->
        <!--    <div class="card-body">-->
        <!--        <h5 class="card-title mb-3"><%=place.name%></h5>-->
        <!--        <p class="card-text">-->
                    
        <!--            <a href="/places/<%= place._id %>" class="btn btn-primary btn-sm" >More Info</a>-->
        <!--        </p>-->
        <!--    </div>-->
        <!--</div>-->
        <!--</div>-->
        
    <% }); %>
    </div>
<!--</div>-->
</div><!--container-->


<div class="container">
<div class="d-flex justify-content-center">
    <% if (pages && pages > 0) { %>
    <ul class="pagination">
        <% if (current == 1) { %>
        <a><li class="disabled page-link">First</li></a>
        <% } else { %>
        <a href="/places<%if(search || (lat && lng && distKm)){%>?search=<%=search%>&distKm=<%=distKm%>&lat=<%=lat%>&lng=<%=lng%><%}%>"><li class="page-link">First</li></a>
        <% } %>
 
        <% if (current == 1) { %>
        <a><li class="disabled page-link">«</li></a>
        <% } else { %>
        <a href="/places?page=<%= Number(current) - 1 %><%if(search || (lat && lng && distKm)){%>&search=<%=search%>&distKm=<%=distKm%>&lat=<%=lat%>&lng=<%=lng%><%}%>"><li class="page-link">«</li></a>
        <% } %>
 
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <a><li class="disabled page-link">...</li></a>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <a><li class="active page-link"><%= i %></li></a>
        <% } else { %>
        <a href="/places?page=<%= i %><%if(search || (lat && lng && distKm)){%>&search=<%=search%>&distKm=<%=distKm%>&lat=<%=lat%>&lng=<%=lng%><%}%>"><li class="page-link"><%= i %></li></a>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <a><li class="disabled page-link">...</li></a>
        <% } %>
        <% } %>
 
        <% if (current == pages) { %>
        <a><li class="disabled page-link">»</li></a>
        <% } else { %>
        <a href="/places?page=<%= Number(current) + 1 %><%if(search || (lat && lng && distKm)){%>&search=<%=search%>&distKm=<%=distKm%>&lat=<%=lat%>&lng=<%=lng%><%}%>"><li class="page-link">»</li></a>
        <% } %>
 
        <% if (current == pages) { %>
        <a><li class="disabled page-link">Last</li></a>
        <% } else { %>
        <a href="/places?page=<%= pages %><%if(search || (lat && lng && distKm)){%>&search=<%=search%>&distKm=<%=distKm%>&lat=<%=lat%>&lng=<%=lng%><%}%>"><li class="page-link">Last</li></a>
        <% } %>
    </ul>
    <% } %>
</div>
</div>






<script> // get user location with browser geolocation
var x = document.getElementById("coords");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    // x.innerHTML = "Latitude: " + position.coords.latitude + 
    // "<br>Longitude: " + position.coords.longitude;
    document.getElementById("latitide").value = position.coords.latitude;
    document.getElementById("longitude").value = position.coords.longitude;
    document.getElementById("geocoder").value = "";
    document.getElementById("geocoder").placeholder = "Near Me";
    document.getElementById("distKm").value = "5";
}
function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }
}

</script>


<script> // Map
  var places =<%-JSON.stringify(places)%>

    // Initialise map and fetch token 
    mapkit.init({
        authorizationCallback: function(done) {
            fetch("/token")
                .then(res => res.text())
                .then(token => done(token)) /* If successful, return your token to MapKit JS */
                .catch(error => { /* Handle error */
                    console.log("nae token")
                });
            // done("eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjI0OU5KQk4ySkoifQ.eyJpc3MiOiJGVVhRWjYyWjlNIiwiaWF0IjoxNTM0NjA4MDI4LjEzNSwiZXhwIjoxNTM0NjA5ODI4LjEzNX0.RlxNj23pp1Agx1qwfuHMcRCAgx5nFDXKpxmSLgEKuxOn_to3p-4LOH0uqNMACBY52WEOhxgW6byx8fDCY9E5kg"); //alternative to short term token fetched above
        }

    });

    // Set default region of map    
    var region = new mapkit.CoordinateRegion(
        new mapkit.Coordinate(55.8642, -4.2518), //Glasgow
        new mapkit.CoordinateSpan(.005, .005)
    );

    // Generate Map    
    var map = new mapkit.Map("map", {
        center: new mapkit.Coordinate(55.8642, -4.2518),
        region: region,
        showsUserLocation: true,
        showsUserLocationControl: true,
        // tracksUserLocation: true,
        showsMapTypeControl: true,
        showsCompass: mapkit.FeatureVisibility.Visible,
        // title: mapkit.FeatureVisibility.Visible,
        isRotationEnabled: true,
        isScrollEnabled: true,
        isZoomEnabled: true,
    });
        map.showsScale = mapkit.FeatureVisibility.Visible; 

    // create and display annotations for the places in our DB
    var firstPlaceNumber = ((<%=current%> - 1)* <%=limit%>)+1;
    var MarkerAnnotation = mapkit.MarkerAnnotation;
    var mapItems = [];
    var i = 0;
    places.forEach(function(place){ 
        var item = new mapkit.Coordinate(place.latitude, place.longitude);
        if (place.category){
            var annotation = new MarkerAnnotation(item, { color: "#00C4B3", title: place.name, subtitle: place.category.join(', '), glyphText: (firstPlaceNumber+i).toString() });
        } else {
            var annotation = new MarkerAnnotation(item, { color: "#00C4B3", title: place.name, glyphText: (i+1).toString() });
        }
        mapItems.push(annotation);
        i++;
    }); 
    <% if (coords == true){ %>
    var lat = <%=lat%>;
    var lng = <%=lng%>;
    var originCoord = new mapkit.Coordinate(<%=lat%>, <%=lng%>);
    var orginAnnotation = new MarkerAnnotation(originCoord, { color: "green", glyphText: "YOU" });
    mapItems.push(orginAnnotation);
    
    var stats = [
        { radius: <%= distKm %> },
        // { radius: 200 },
    ];
    var style = new mapkit.Style({
        lineWidth: 2,         // 2 CSS pixels
        strokeColor: "#999",
        fillColor: "#666"
    });
    var circles = stats.map(function(stat) {
        var coordinate = new mapkit.Coordinate(<%=lat%>, <%=lng%>),
            // radius = <%= //distKm %> * 1000, // radius is expressed in meters
            radius = ((stat.radius) * 1000), // radius is expressed in meters
            circle = new mapkit.CircleOverlay(coordinate, radius);
            circle.data = { radius: stat.radius };
        circle.style = style;
        return circle;
    });
    map.addOverlays(circles);   
    <% } %>
    map.showItems(mapItems);
    
    
    
    
    


</script>

<script>
    
    
    
    function submitFn() {
    
        let location = document.getElementById("geocoder").value;
        let placeholder = document.getElementById("geocoder").placeholder;
        let geocoder = new mapkit.Geocoder({
            getsUserLocation: true
        });
        if (!location == "") {
        geocoder.lookup(location, function(error, data) {
            if (error) {
                console.log(error);
                return;
            }
            // console.log(data);

                // document.getElementById("geo-coords").innerHTML +=
                //     '<h5 class="card-title mb-3">' + data.results[0].coordinate + '</h5>';

                // map.addAnnotation(new mapkit.MarkerAnnotation(data.results[0].coordinate));
                let coordinate = new mapkit.Coordinate(data.results[0].coordinate.latitude, data.results[0].coordinate.longitude);
                map.setCenterAnimated(coordinate, true);
                document.getElementById("latitide").value = data.results[0].coordinate.latitude;
                document.getElementById("longitude").value = data.results[0].coordinate.longitude;
                // document.getElementById("distKm").value = 3;
                document.getElementById("searchForm").submit();
                
            });
        } else if (placeholder == "Near Me") {
            // document.getElementById("latitide").value = "";
            // document.getElementById("longitude").value = "";
            document.getElementById("searchForm").submit();
        } else {
            document.getElementById("searchForm").submit();
    }
    } 
    
</script>


<script> // Geocoder
    // listen for geocoder input submission via enter key
    // document.getElementById("geocoder").addEventListener("keypress", function(e) {
    //     if (e.keyCode === 13) { //checks whether the pressed key is "Enter"
    //         geocoderFn(e);
    //     }
    // });
    
    // listen for search input submission via search button click
    // document.getElementById("geocoderBtn").addEventListener("click", geocoderFn);


    //search Mapkit JS Places API with search query
    // function geocoderFn(data, callback) {

    //     // // call function to clear any exisiting search results
    //     clearPreviousAnnotations();

    //     let location = document.getElementById("geocoder").value;
    //     let geocoder = new mapkit.Geocoder({
    //         getsUserLocation: true
    //     });

    //     geocoder.lookup(location, function(error, data) {
    //         if (error) {
    //             console.log(error);
    //             return;
    //         }
    //         console.log(data);

    //             document.getElementById("geo-coords").innerHTML +=
    //                 '<h5 class="card-title mb-3">' + data.results[0].coordinate + '</h5>';

    //             map.addAnnotation(new mapkit.MarkerAnnotation(data.results[0].coordinate));
    //             let coordinate = new mapkit.Coordinate(data.results[0].coordinate.latitude, data.results[0].coordinate.longitude);
    //             map.setCenterAnimated(coordinate, true);
    //             document.getElementById("latitide").value = data.results[0].coordinate.latitude;
    //             document.getElementById("longitude").value = data.results[0].coordinate.longitude;
    //         });
    //         callback();
    //     };
        
            // function to clear previous results from map and list
    function clearPreviousAnnotations() {
        let annotations = map.annotations;
        map.removeAnnotations(annotations);
        document.getElementById('geo-coords').innerHTML = "";
    }

</script>

<% include ../partials/footer %>