<% include ../partials/header %>

<div class="container">

 <h1 class="my-5 text-center" style="width:100%">Add a New Place</h1>


    <div class="row" style="border-bottom: 2px solid lightgray;">

    <div id= "query_card" class="col-lg-3 col-md-4 col-sm-6">
            <div class="card mb-4 box-shadow text-white bg-dark">
                <div class="content card-body" style="border-top: 5px solid black;">
                    <h4 class="text-uppercase text-info">Find a match for:</h4>
                    <h5 id="query_card_name" class="card-title mb-3">
                    </h5>
                    <p id="query_card_formattedAddress" class="card-text"></p>
                </div>
            </div>
        </div>
                <div id= "no_match" class="col-lg-3 col-md-4 col-sm-6">
                <div class="content card-body">
                    <h5 id="" class="card-title mb-3">
                        No match found?
                    </h5>
                    <a href="/a-places/a-new<%= searchQuery %>" class="btn btn-primary" onclick="clearFbSession()">Proceed without</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-4 box-shadow text-white bg-dark">
                    <div class="content card-body">
                        <h4 class="text-uppercase text-info">Redefine Search</h4>
                        <form>
                            <table>
                                <tr>
                                    <th class="label"><label class="label" for="name">Query</label></th>
                                    <th class="input"><input class="form-control" type="text" id="name" name="name" placeholder="" value="<%= q %>"></th>
                                </tr>
                                <tr>
                                    <th class="label"><label class="label" for="latitude">Latitude</label></th>
                                    <th class="input"><input class="form-control" type="text" id="latitude" name="latitude" placeholder="" value="<%= latitude %>"></th>
                                </tr>
                                <tr>
                                    <th class="label"><label class="label" for="longitude">Longitude</label></th>
                                    <th class="input"><input class="form-control" type="text" id="longitude" name="longitude" placeholder="" value="<%= longitude %>"></th>
                                </tr>
                                <tr>
                                    <th class="label"><label class="label" for="radius">Radius (m)</label></th>
                                    <th class="input"><input class="form-control" type="text" id="radius" name="radius" placeholder="" value="<%= radius %>"></th>
                                </tr>
                            </table>
                            
                            <div class="button">
                                <button class="btn btn-lg btn-info">Search</button>
                            </div>
                            
                            </form>
                    </div>
                </div>
            </div>


        </div>
        
        
      <div id="results" class="row">
    <h4 class="my-5 text-center" style="width:100%">Facebook Search Results</h4>
    
    <% if (typeof place.data!='undefined' && place.data.length == 0) { %>
        <p>No search results found</p>
    <% } else if (typeof place.data!='undefined'){ %>
        <% var i; %>
        <% var imageURL = []; %>
        <%for (i = 0; i < place.data.length; i++) { %>



        <!--<div class="col-md-4 col-sm-6">-->
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="content card mb-4 box-shadow">

                <% if (place.data[i].photos) { %>
                    <img class="card-img-top" src="<%=place.data[i].photos.data[0].images[0].source %>">
                        <% imageURL[i] = place.data[i].photos.data[0].images[0].source %>
                <% } else { %>
                <% if (place.data[i].picture.data.url) { %>
                    <img class="card-img-top" src="<%=place.data[i].picture.data.url %>">
                    <% imageURL[i] = place.data[i].picture.data.url %>
                <% } else { %>
                    <img class="card-img-top" src="https://uploads-ssl.webflow.com/57e5747bd0ac813956df4e96/5aebae14c6d254621d81f826_placeholder.png">
                <% } } %>
                <div class="content card-body">
                    <h5 class="card-title mb-3">
                        <%= place.data[i].name %>
                    </h5>
                    <% if (place.data[i].location) { %>
                        <b>
                            <%= place.data[i].location.street %><br />
                            <%= place.data[i].location.city %><br />
                            <%= place.data[i].location.zip %><br />
                            <%= place.data[i].location.country %><br />
                        </b>
                    <% } %>
                    <br/>
                     <% if (place.data[i].category_list) { %>
                            <!--<%= // place.data[i].category_list[0].name %><br />-->
                            
                            <% var categories = ""; %>
                            
                            <% for (var j = 0; j < place.data[i].category_list.length; j++){%>
                                <% categories += place.data[i].category_list[j].name;%>
                                <% j<(place.data[i].category_list.length-1) ? categories += ", " : '';%>
                            <% }; %>
                            <p class="body2 sm-mb" id="categories"><%=  categories.substring(0, 70) + " ..." %></p>
                            <p class="body2 sm-mb" style="display:none" id="categories-all"><%= categories %></p>

                            
                    <% } %>
                    <br/>
                     <% if (place.data[i].distance) { %>
                            <%= place.data[i].distance.toFixed(3) %>km from Apple place<br />
                    <% } %>
                    
                    <br/>
                    <% if (place.data[i].link) { %>
                        <a href="<%= place.data[i].link %>" target="_blank">Facebook Page</a>
                    <br/>
                    <% } %>
                    <% if (place.data[i].website) { %>
                        <a href="<%= place.data[i].website %>" target="_blank">Website</a>
                        <br/>
                    <% } %>
                    <br />
                    <% if (place.data[i].overall_star_rating) { %>
                        <%= place.data[i].overall_star_rating + " out of 5 (" + place.data[i].rating_count + " reviews)"%><br />
                    <% } %>                    
                    <% if (place.data[i].engagement.count) { %>
                        <%= place.data[i].engagement.social_sentence %><br />
                    <% } %>
                    <% if (place.data[i].checkins) { %>
                        <%= place.data[i].checkins %> Check-ins<br />
                    <% } %>

                    <br />


                    <a class="mdc-fab" style="position: absolute; bottom: 1rem; right: 1rem; z-index: 1;" onclick="storePlace(<%= place.data[i].id %>, <%= i %>)" href="/a-places/a-new"><span class="material-icons mdc-fab__icon" style="color: white">add</span></a>

                </div>
            </div>
        </div>

        <% } %>
        <% } else { %>
        <p>Bad request, often due to missing a required search parameter - try again with updated parameters.</p>
        <% } %>
        <br />
        <!--<a href="<%= //place.paging.next %>"> next </a>-->

    </div>
</div>

<script>

var placeData = JSON.parse(sessionStorage.getItem('placeData'));
$(document).ready(function() {
              $('#query_card_name').text(placeData.name);
              $('#query_card_formattedAddress').text(placeData.formattedAddress);
            });

    function storePlace(id, i) {
        var fbPlaceID = id;
        var imageURL = document.querySelectorAll('.card-img-top')[i].src;
        var FBcategories = document.getElementById('categories-all').textContent ;
        
        //fetch object

        sessionStorage.setItem('fbPlaceID', fbPlaceID);
        sessionStorage.setItem('imageURL', imageURL);
        sessionStorage.setItem('categories', FBcategories);

        console.log(sessionStorage.getItem(fbPlaceID));
    };
    
    function clearFbSession() {
        //fetch object
                sessionStorage.removeItem('fbPlaceID');
    };
    
</script>